In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./acc.csv')
df

       Backend    Dataset     acc
0        torch    cornell  0.7838
1        torch    cornell  0.7838
2        torch    cornell  0.7838
3        torch    cornell  0.7838
4        torch    cornell  0.7838
5        torch      texas  0.8378
6        torch      texas  0.8378
7        torch      texas  0.8378
8        torch      texas  0.8649
9        torch      texas  0.8649
10       torch  wisconsin  0.8431
11       torch  wisconsin  0.8431
12       torch  wisconsin  0.8431
13       torch  wisconsin  0.8431
14       torch  wisconsin  0.8235
15  tensorflow    cornell  0.7838
16  tensorflow    cornell  0.7838
17  tensorflow    cornell  0.7838
18  tensorflow    cornell  0.7838
19  tensorflow    cornell  0.7838
20  tensorflow      texas  0.8378
21  tensorflow      texas  0.8378
22  tensorflow      texas  0.8378
23  tensorflow      texas  0.8378
24  tensorflow      texas  0.8378
25  tensorflow  wisconsin  0.8235
26  tensorflow  wisconsin  0.8235
27  tensorflow  wisconsin  0.8235
28  tensorflow  wisconsin  0.8235
29  tensorflow  wisconsin  0.8235
30      paddle    cornell  0.7838
31      paddle    cornell  0.7838
32      paddle    cornell  0.7838
33      paddle    cornell  0.7838
34      paddle    cornell  0.8108
35      paddle      texas  0.8649
36      paddle      texas  0.8649
37      paddle      texas  0.8649
38      paddle      texas  0.8649
39      paddle      texas  0.8378
40      paddle  wisconsin  0.8431
41      paddle  wisconsin  0.8431
42      paddle  wisconsin  0.8431
43      paddle  wisconsin  0.8235
44      paddle  wisconsin  0.8235

In [5]:
result = df.groupby(['Backend', 'Dataset'])['acc'].agg(['mean', 'std'])
result

                         mean       std
Backend    Dataset
paddle     cornell    0.78920  0.012075
           texas      0.85948  0.012119
           wisconsin  0.83526  0.010735
tensorflow cornell    0.78380  0.000000
           texas      0.83780  0.000000
           wisconsin  0.82350  0.000000
torch      cornell    0.78380  0.000000
           texas      0.84864  0.014843
           wisconsin  0.83918  0.008765